{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@docusaurus/recommended"],
  "parserOptions": {
    "project": "./tsconfig.json",
    "extraFileExtensions": [".json",".md"]
  }
}
