.main{
  font-size: 40px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 900;
}
.textWarp{
  display: flex;
  padding-bottom: 40px;
}
.text{
  background-image: linear-gradient(90deg,#c3c006, #f8f5a6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 20px;
}
