.main {
  display: flex;
}
.content{
  flex: 1;
  min-width: 200px;
}
.animation{
  z-index: 1;
  max-width: 650px;
}

@media screen and (max-width: 750px) {
  .main  {
    flex-direction:column;
  }
}
