.content{
  display: flex;
  margin: 50px 6% 0 6%;
}
.main{
  flex: 1;
  padding-left: 32px;
  margin-bottom: 20px;
  &>div{
    margin-bottom: 20px;
  }
}
.mainContent{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(270px,1fr));
  gap: 2em;
}
.mainItems{
  display: flex;
  padding: 12px;
  transition: transform .3s ease-in-out;
  background-color: var(--ifm-card-background-color);
  border: 1px solid hsla(0,0%,80%,.5);
  border-radius: 8px;
  & >div{
    max-width: calc(100% - 64px);
    padding-left: 15px;
    a{
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p{
      display: -webkit-box;
      font-size: 13px;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
  img{
    width: 64px;
    height: 64px;
  }
  &:hover{
    transform: translate3d(0,-5px,0);
    box-shadow: var(--ifm-color-primary-hover);
  }
}
.aside{
  width: 180px;
  overflow-x: hidden;
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 50px);
  max-height: calc(100vh - var(--ifm-navbar-height));
  &>ul{
    list-style: none;
    padding-left: 0;
    li a{
      color: var(--ifm-font-color-base)
    }
  }
}
